body {
  background: #ffffff url('../images/geometry2.png');
  text-align: center;
  width: 660px;
	position: relative;
	max-width: 100%;
/*	justify-content: space-between; */
	align-items: center;
  margin-top: 0px;
	margin-left: auto;
  margin-right: auto;
}

#counter {
  font-weight: bold;
  font-size: 1em;
  margin-top: 0px;
  margin-left: 0px;
}

span.exitGameText {
  max-width: 100%;
  font-weight: bold;
  font-size: 1em;
  margin-top: 0px;
  float: right;
  margin-right: 30px;
}

button:hover {
  background-color: red;
}

